@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Martel Sans", sans-serif, "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/Images/bg.jpg);
    background-size: cover;
    object-fit: fill;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    bottom: 0;
    top: 0;
    position: relative;
}

nav {
    position: relative;
    max-width: 60vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav img {
    width: 180px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    z-index: 10;
    color: white;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif, "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    gap: 23px;
    padding: 0px 30px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.sepration {
    background-color: rgb(35 35 35);
    height: 7px;
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    color: white;
    background-color: rgba(241, 239, 239, 0.129);
    border-radius: 4px;
    border: rgba(255, 255, 255, 0.713) solid 1px;
    cursor: pointer;
    margin: 5px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 5px 27px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
}

.main nav div {
    flex-wrap: wrap;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.main input {
    height: 30px;
    width: 250px;
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    /* height: 80vh; */
    margin: auto;
    overflow: hidden;
}


.secImg {
    position: relative;
}

.secImg img {
    display: flex;
    width: 500px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 71px;
    width: 438px;
    left: 59px;
}

.first>div {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
    text-align: center;
}

.first>div :nth-child(1) {
    font-size: 48px;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.third video {
    position: absolute;
    top: 70px;
    width: 332px;
    left: 80px;
}

.faq {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.faq h1 {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
    font-size: 48px;
    font-family: "Martel Sans", sans-serif, "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    font-weight: bolder;
}

.qbox {
    font-weight: 500;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(54, 51, 51, 0.858);
    padding: 30px;
    width: 70vw;
    font-size: 25px;
    font-family: "Martel Sans", sans-serif, "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    transition: all 200ms ease-out;
}

.qbox:hover {
    color: black;
    background-color: grey;
}

footer {
    max-width: 60vw;
    margin: auto;
    color: white;
    padding: 14px;
    margin-bottom: 34px;
}

footer>.quations {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    justify-content: space-around;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer a {
    /* text-decoration: none; */
    font-family: "Martel Sans", sans-serif, "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu";
    color: white;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-width:900px) {
    .first {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:700px) {
    .main {
        height: auto;
    }

    .hero span {
        font-size: 1rem;
    }

    .footer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (max-width:600px) {
    .main div nav {
        margin-top: 10px;
        position: relative;
        max-width: 98vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .hero> :first-child {
        font-size: 36px;
        font-weight: 900;
        text-align: center;
    }

    .hero> :nth-child(2) {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }

    .hero> :nth-child(3) {
        font-weight: 400;
        font-size: 15px;
        /* line-height: 30px;    */
        text-align: center;

    }

    .first>div :nth-child(1) {
        font-size: 36px;
    }

    .first>div :nth-child(2) {
        font-size: 18px;
    }

    .faq h1 {
        font-size: 36px;
    }

    nav img {
        width: 130px;
        position: relative;
        z-index: 10;
    }

}

@media (max-width:500px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:400px) {
    .hero> :first-child {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }

    .hero> :nth-child(2) {
        font-weight: 400;
        font-size: 15px;
        text-align: center;
    }

    .hero> :nth-child(3) {
        font-weight: 400;
        font-size: 12.5px;
        /* line-height: 30px;    */
        text-align: center;

    }

    .first>div :nth-child(1) {
        font-size: 24px;
    }

    .first>div :nth-child(2) {
        font-size: 12.5px;
    }

    .main input {
        width: 60vw;
        /* padding: 50%;*/
        height: 25px;
    }

    .btn-red {
        background-color: red;
        color: white;
        padding: 5px 27px;
        font-size: 15px;
        font-weight: 400;
        border-radius: 4px;
    }

    .faq h1 {
        font-size: 24px;
    }

    nav img {
        width: 110px;
        position: relative;
        z-index: 10;
    }
}

@media (max-width:250px) {
    .footer {
        grid-template-columns: 1fr;
    }
}

@media (max-height:500px) {
    .main {
        height: auto;
    }
}